@model List<NegotiationTask.Models.Person>

<h1>Full View</h1>

<table>
    <tr>
        <th>Name</th>
        <th>Description</th>
    </tr>
    @foreach (var person in Model)
    {
        <tr>
            <td>@person.Name</td>
            <td>@person.Description</td>
        </tr>
    }
</table>